$white: #fff;
$black: #000;

$font-family_1: "Roboto", sans-serif;
$background-color_1: $black;
$background-color_2: #5cbde466;
$background-color_3: lightgreen;

$mobile-bk: 428px;
$tablet-bk: 768px;
$medium-bk: 600px;
